@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./reset.css);

* {
    font-family: Open Sans;
}

:root {
    --primary-color: #1946BA; /* Пример синего цвета */
    --secondary-color: #38C463; /* Пример зеленого цвета */
    --third-color: #F21F5B;
    --white-color: #ffffff; 
    --black-color: #000000;
    --grey-color: #C4C4C4;
    --light-grey-color: #F2F2F2;
}

p {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6.75rem;
    background-color: var(--white-color);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    position: sticky;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.header__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 48.375rem;
    height: 2.5rem;
    background-color: var(--light-grey-color);
}

.header__search-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 48.375rem;
    height: 2.5rem;
    padding: 0rem 1.25rem;
    border-radius: 2px;
}

.header__search-icon {
    margin: 0rem 1.25rem;
}

.header__search-input{
    width: 100%;
    color: var(--grey-color);
    font-size: 0.875rem;
}

.header__search-line {
    width: 0rem;
    height: 1.25rem;
    border: 1px solid var(--grey-color);
    opacity: 0.5;
}

.header__info {
    display: flex;
    align-items: center;
    gap: 1.5625rem;
}

.header__translate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.375rem;
    color: var(--primary-color);
    font-size: 0.875rem;
}

.header__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    font-size: 0.875rem;
}

.center-collective {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    width: auto;
    margin: 3.125rem 5.625rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 3.4375rem;
    border-radius: 5px;
}

.center-collective__title {
    font-size: 1.75rem;
    width: 37.5rem;
    font-weight: 700;
}

.center-collective__table {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.center-collective__line {
    width: auto;
    opacity: 0.5;
    border: 1px solid var(--grey-color);
}

.center-collective__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-collective__info-title {
    font-size: 1.125rem;
    font-weight: 700;
}

.center-collective__info-description {
    font-size: 0.875rem;
}

.center-collective__info-remoteBtn {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    padding: 0.625rem;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-radius: 5px;
    font-size: 0.75rem;
}

.center-collective__btn {
    display: flex;
    justify-content: center;
    width: 13.75rem;
    padding: 0.625rem 2.1875rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    gap: auto;
    margin: 3.125rem 5.625rem;
}

.category__menu {
    width: 18.75rem;
    height: 28.125rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 1.5625rem 1.25rem;
    gap: 1.5625rem;
}

.category__menu-name {
    text-align: start;
}

.category__menu-title {
    font-size: 1.125rem;
    font-weight: 700;
}

.category__menu-list {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

.category__menu-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.375rem;
}

.category__blocks {
    display: flex;
    flex-direction: column;
    width: 87.5rem;
    gap: 1.875rem;
}

.category__welcome {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 1.875rem;
    gap: 3.125rem;
}

.category__welcome-texts {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

.category__welcome-title {
    width: 37.5rem;
    font-size: 2.25rem;
    font-weight: 700;
}

.category__welcome-info {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.category__welcome-p {
    width: 31.25rem;
    font-size: 0.875rem;
}

.category__welcome-ellipse {
    position: absolute;
    right: 5.625rem;
    bottom: -8.7em;
}

.welcome-p {
    font-size: 0.5625rem;
    width: 10rem;
}

.welcome-num {
    font-weight: 700;
    font-size: 2.25rem;
}

.category__blocks-wrap {
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
}

.category__catalog-one {
    color: var(--white-color);
    background-color: var(--secondary-color);
}

.category__catalog-two {
    color: var(--white-color);
    background-color: var(--third-color);
}

.category__block {
    width: 36.25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.875rem;
    gap: 1.875rem;
}

.example {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin: 3.125rem 5.625rem;
}

.example__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25rem;
    gap: 0.625rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 3.4375rem;
    border-radius: 5px;
}

.example__block-title {
    font-size: 1.25rem;
}

.example__block-description {
    font-size: 0.875rem;
    color: var(--grey-color);
}

.physic {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 3.125rem 5.625rem;
    gap: 1.25rem;
}

.physic__title {
    font-size: 1.5rem;
}

.physic__wrap {
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 5rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 3.4375rem;
    border-radius: 5px;
}

.physic__options {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.physic__options-active {
    display: flex;
    padding: 0.375rem 1.25rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 0.375rem;
}

.physic__options-tune {
    display: flex;
    padding: 0.375rem 0rem;
    border-bottom: var(--black-color) 1px solid;
}

.physic__goods {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.physic__goods-item {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.physic__goods-title {
    font-size: 1.5rem;
}

.physic__goods-text {
    width: 10.625rem;
    font-size: 0.875rem;
    color: var(--grey-color);
}

.physic__goods-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.375rem 0rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 0.375rem;
    width: 8.125rem;
}